<!DOCTYPE html>
<html>
  <head>
    <title>Weather Finder</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>WeatherFinder</h1>
    <p>Bem vindo ao WeatherFinder</p>
    
    <main>
      <section class="input">
        <input type="text" class="userInput" placeholder="Ex: Campo Grande"> 
        <input type="button" value="Pesquisar">
        
      </section>

      <section class="display">
        <p class="city">Cidade</p>
        <p class="country">País</p>
        <p class="temp">Temperatura</p>
        <p class="humidity">Humidade</p>
        <p class="desc">Descrição</p>
        <p>Lista do Top 5 mais procurados</p>

      </section>
    </main>

  </body>
</html>
